<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购买记录</title>
    <style type="text/css">
        #PurchaseRecordTable {
            width: 80%;
            border: 2px solid skyblue;
            margin: 0px auto;
        }

        #PurchaseRecordTable th, td {
            border: 1px solid gray;
            text-align: center;
        }
    </style>
</head>
<body>
<table id="PurchaseRecordTable" cellpadding="0px" cellspacing="0px">
    <tr>
        <th>序号</th>
        <th>订单号</th>
        <th>用户id</th>
        <th>图书</th>
        <th>购买时间</th>
        <th>购买价格</th>
        <th>用户详情</th>
        <th>图书详情</th>
    </tr>
    <tr th:each="record,i:${purchaseRecordList}">
        <td th:text="${i.count}"></td>
        <td th:text="${record.id}"></td>
        <td th:text="${record.userid}"></td>
        <td th:text="${record.book.name}"></td>
        <td th:text="${#dates.format(record.purchaseDate,'yyyy-MM-dd hh-mm-ss')}"></td>
        <td th:text="${record.price}"></td>
        <td>
            <a href="javascript:void(0)" th:onclick="showUserInfo([[${record.userid}]])">用户详情</a>
        </td>
        <td>
            <a href="javascript:void(0)" th:onclick="bookDetails([[${record.bookid}]])">图书详情</a>
        </td>
    </tr>
</table>
<script>
    function showUserInfo(id) {
        window.location.href = "../user/showUserInfo?userID="+id;
    }
    function bookDetails(id) {
        window.location.href="../book/bookSearchByID?bookID="+id;
    }
</script>
</body>
</html>