<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书搜索结果</title>
    <style type="text/css">
        #booksTable {
            width: 80%;
            border: 2px solid skyblue;
            margin: 0px auto;
        }

        #booksTable th, td {
            border: 1px solid gray;
            text-align: center;
        }
    </style>
</head>
<body>

<table id="booksTable" cellpadding="0px" cellspacing="0px">
    <tr>
        <th>序号</th>
        <th>BookID</th>
        <th>封面</th>
        <th>图书名</th>
        <th>作者</th>
        <th>ISBN</th>
        <th>详情</th>
        <th>购物车</th>
        <th>价格</th>
        <th>结算</th>
        <th>多选</th>
    </tr>
    <tr th:each="book,i:${bookList}">
        <td th:text="${i.count}"></td>
        <td th:text="${book.id}"></td>
        <td><img th:src="@{'http://127.0.0.1:8090/uploadBookPhoto/'+ ${book.photoName}}" height="100px" width="100px">
        </td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.isbn}"></td>
        <td>
            <a href="javascript:void(0)" th:onclick="bookDetails([[${book.id}]])">查看详情</a>
        </td>
        <td>
            <a href="javascript:void(0)" th:onclick="cancelShoppingCart([[${book.id}]])">取消购物车</a>
        </td>
        <td th:text="${book.price}"></td>
        <td>
            <a href="javascript:void(0)" th:onclick="purchaseBook([[${book.id}]])">购买</a>
        </td>
        <td>
            <form action="../book/purchaseMultpleBook" method="post">
                <input type="checkbox" name="booksID"
                       th:value="${book.id}"
                       <br/>
                <p><input type="submit" value="一并购买"></p>
        </td>
    </tr>
</table>
</form>

<span style="margin-left: 10px">
            总共记录:
    <a th:text="${total} "></a>
条;共
    <a th:text="${pageCount} "></a>
页;第
    <a th:text="${pageIndex} "></a>
页；
    <br/>
    <a href="javascript:void(0)" th:onclick="showShoppingCart([[${pageIndex}-1]])" style="text-decoration: none">[上一页]</a>
    <a href="javascript:void(0)" th:onclick="showShoppingCart([[${pageIndex}+1]])" style="text-decoration: none">[下一页]</a>

</span>


<script>
    function showShoppingCart(index) {
        window.location.href = "../book/showShoppingCart?index="+index;
    }
    function cancelShoppingCart(id) {
        window.location.href = "../book/cancelShoppingCart?bookID=" + id;
    }

    function bookDetails(id) {
        window.location.href = "../book/bookSearchByID?bookID=" + id;
    }

    function purchaseBook(id) {
        var result = confirm("确认要购买" + id + "吗？");
        if (result) {
            window.location.href = "../book/purchaseBook?bookID=" + id;
        }
    }
</script>

</body>
</html>