<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书搜索结果</title>
    <style type="text/css">
        #booksTable {
            width: 80%;
            border: 2px solid skyblue;
            margin: 0px auto;
        }

        #booksTable th, td {
            border: 1px solid gray;
            text-align: center;
        }
    </style>
</head>
<body>
<table id="booksTable" cellpadding="0px" cellspacing="0px">
    <tr>
        <th>序号</th>
        <th>封面</th>
        <th>图书名</th>
        <th>作者</th>
        <th>ISBN</th>
        <th>出版时间</th>
        <th>价格</th>
        <th>销量</th>
        <th>点赞量</th>
        <th>点踩量</th>
        <th>详情</th>
        <th>收藏</th>
        <th>购物车</th>
        <th>购买</th>
        <th>多选</th>
    </tr>
    <tr th:each="book,i:${bookList}">
        <td th:text="${i.count}"></td>
        <td><img th:src="@{'http://120.79.152.91:8090/uploadBookPhoto/'+ ${book.photoName}}" height="100px" width="100px">
        </td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${#dates.format(book.publicationDate,'yyyy-MM')}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.sales}"></td>
        <td th:text="${book.good}"></td>
        <td th:text="${book.bad}"></td>
        <td>
            <a href="javascript:void(0)" th:onclick="bookDetails([[${book.id}]])">查看详情</a>
        </td>
        <td>
            <a href="javascript:void(0)" th:onclick="collect([[${book.id}]])">收藏</a>
        </td>
        <td>
            <a href="javascript:void(0)" th:onclick="addShoppingCart([[${book.id}]])">加入购物车</a>
        </td>
        <td>
            <a href="javascript:void(0)" th:onclick="purchaseBook([[${book.id}]])">购买</a>
        </td>
        <td>
            <form action="../book/purchaseMultpleBook" method="post">
                <input type="checkbox" name="booksID"
                       th:value="${book.id}"
                <br/>
                <p><input type="submit" value="一并购买"></p>
        </td>
    </tr>
</table>
</form>

<span style="margin-left: 10px">
            总共记录:
    <a th:text="${total} "></a>
条;共
    <a th:text="${pageCount} "></a>
页;第
    <a th:text="${pageIndex} "></a>
页；
    <br/>
    <a href="javascript:void(0)" th:onclick="doPageSubmit([[${bookTypeID}]],[[${pageIndex}-1]])" style="text-decoration: none">[上一页]</a>
    <a href="javascript:void(0)" th:onclick="doPageSubmit([[${bookTypeID}]],[[${pageIndex}+1]])" style="text-decoration: none">[下一页]</a>

</span>

<script>
    function doPageSubmit(bookTypeID,index) {
        window.location.href = "../book/bookSearchByTypeID?index="+index+"&bookTypeID="+bookTypeID;
    }

    function bookDetails(id) {
        window.location.href = "../book/bookSearchByID?bookID=" + id;
    }

    function collect(id) {
        window.location.href = "../book/collect?index=1&bookID=" + id;
    }

    function purchaseBook(id) {
        window.location.href = "../book/purchaseBook?bookID=" + id;
    }
    function addShoppingCart(id) {
        window.location.href = "../book/addShoppingCart?bookID=" + id;
    }
</script>
</body>
</html>